{{> head}}
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Aguacat</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci consectetur doloremque ex excepturi
            facere harum id illo incidunt ipsum laudantium necessitatibus nulla perspiciatis reiciendis sit soluta
            suscipit voluptas voluptate.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/avocado1.gif" alt="thimbnail" class="img-thumbnail">
    </div>
</div>

{{> footer}}